#image {
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
   margin: 0 auto;
   padding: 1%;
}
img {
    display: block;
    justify-content: center;
}
/* header */
header {
    padding: .5%;
    text-align: center;
    background-color: #cddbe7;
    color: #1b2c3a;
    font-size: 30px;
}