main{
    background-color: #6993b8;
}
#image {
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
   margin: 0 auto;
   padding: .5%;
}
img {
    display: block;
    justify-content: center;
}
#img-caption {
    color:#1b2c3a;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#img-div {
    background-color: #172531;
}
/* header */
header {
    padding: .3%;
    text-align: center;
    background-color: #cddbe7;
    color: #1b2c3a;
    font-size: 30px;
}
h2{
    text-decoration: underline;
}
#tribute-info, li {
    text-align: center;
    color:#172531;
    font-size: 19px;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}
footer {
    background-color: #172531;
    color: #cddbe7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3%; ;
}